body{
  background: #15202b!important;
}
.main{
  margin-top: 5%;
}
.navbar-expand{
  width: 75vw;
  margin-left: 12.5%;
}
.item{
  width: 100%;
  background: #343A40;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  min-height: 100px;
  margin-bottom: 2%;
  position: relative;
}
.item .content{
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.item .user{
  color: #6C757D;
  position: absolute;
  left: 10px;
  top: 10px;
}
.item .date{
  color: #6C757D;
  position: absolute;
  right: 10px;
  top: 10px;
}

.submit-post{
  position: absolute;
  right: 8px;
  top: 75%;
}

.form-group{
  margin-bottom: 55px;
  position: relative;
}

.twitt-box{
  margin-bottom: 4%;
}
.spinner-grow{
  text-align: center;
  display: block;
  position: absolute;
  top: 80px;
  left: 270px;
}
